// Заголовки, загальні БЕМ блоки та інше...
.page {
	padding-top: toRem(150);
	@include adaptiveValue('padding-bottom', 70, 30);
	@media (max-width: $mobile) {
		padding-top: toRem(110);
	}
}
.title {
	font-weight: 600;
	text-transform: uppercase;
	@include adaptiveValue('font-size', 36, 18);
}
.link {
	fill: $mainColor;
	transition:
		color 0.3s,
		fill 0.3s;
	@media (any-hover: hover) {
		&:hover {
			fill: $accentColor;
			color: $accentColor;
		}
	}
}
.sub-title {
	font-weight: 600;
	text-transform: uppercase;
	@include adaptiveValue('font-size', 30, 18);
}

.popup-link {
	display: none;
}

.head-service {
	@include adaptiveValue('margin-bottom', 40, 20);
	&__container {
		display: flex;
		flex-direction: column;
		gap: toRem(15);
	}
	&__title {
	}
	&__description {
		max-width: toRem(900);
	}
}

.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: toRem(24);
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgb(12, 10, 9, 0.8);
	z-index: 50;
	visibility: hidden;
	opacity: 0;
	transition:
		opacity 0.3s,
		visibility 0.3s;
	._loading & {
		opacity: 1;
		visibility: visible;
	}
}
