//====================================================================================================
.services {
	@include adaptiveValue('margin-bottom', 70, 30);
	&__container {
	}
	&__title {
		margin-bottom: toRem(20);
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: toRem(20);
		@media (max-width: $tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: toRem(600)) {
			grid-template-columns: 1fr;
		}
	}
	&__item {
	}
}
.service-item {
	&__link {
		position: relative;
		padding-bottom: 100%;
		display: block;
		border-radius: 10px;
		overflow: hidden;
		&::before {
			content: '';
			position: absolute;
			z-index: 2;
			width: 100%;
			height: 100%;
			background-color: $bgColor;
			opacity: 0.7;
			transition: opacity 0.5s;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					opacity: 0;
				}
				.service-item__image {
					transform: scale(1.05);
				}
				.service-item__title {
					transform: translateY(10px);
					opacity: 0;
				}
			}
		}
	}
	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform 0.3s;
		display: block;
	}
	&__title {
		position: absolute;
		z-index: 3;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-weight: 600;
		text-transform: uppercase;
		transition:
			transform 0.3s,
			opacity 0.3s;
		@include adaptiveValue('font-size', 20, 16);
	}
}

//====================================================================================================
.feedback {
	&__container {
	}
	&__title {
		text-align: center;
		@include adaptiveValue('margin-bottom', 30, 20);
	}
	&__form {
		display: flex;
		gap: toRem(15);
		max-width: toRem(650);
		margin: 0 auto;
		@media (max-width: $mobileSmall) {
			flex-direction: column;
		}
	}
	&__input {
	}
	&__button {
	}
}
